<% if current_user && current_user.admin %>
  <h2 class="new-sect full-grid"><%= link_to @collection.fname + " " + @collection.lname, @collection %></h2>
  <p class="full-grid">Click above for more info and notes.</p>
<% else %>
  <h2 class="new-sect full-grid"><%= @collection.fname + " " + @collection.lname %></h2>
<% end %>
<p>
  <strong>Account number:</strong>
  <%= @collection.account_number %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @collection.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @collection.lname %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @collection.dob %>
</p>

<p>
  <strong>Money due:</strong>
  <%= @collection.money_due %>
</p>

<p>
  <strong>Money paid:</strong>
  <%= @collection.money_paid %>
</p>

<p>
  <strong>Total due:</strong>
  <%= @collection.total_due %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @collection.phone %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @collection.phone2 %>
</p>

<p>
  <strong>Phone3:</strong>
  <%= @collection.phone3 %>
</p>

<p>
  <strong>Practice:</strong>
  <%= @collection.practice.name %>
</p><br>

<% if @collection.scan.attached? %>
  <div class="attached-scan">
  <p><strong>Scan:</strong></p>
    <%= image_tag(@collection.scan, class: "scan-img full-grid") %>
  </div>
<% end %>