<p id="notice"><%= notice %></p>

<h1>Collections</h1>

<div class="search">
    <h3>Search for Collections</h3>
    <%= form_with(url: collections_path, method: "get", local: true) do %>
      <%= text_field_tag(:search, params[:search]) %>
      <%= select_tag(:search_type, options_for_select(["Account Number", "Last Name", "Date of Birth"])) %>
      <%= submit_tag ("Search") %><br>
    <% end %>
<% if current_user && current_user.admin %>
  <%#= Show All Button %>
<% end %>
  </div>


<% if @collection %>
  <div class="search-container">
    <%= render 'collections/show' %>
  </div>
<% end %>