<p>
  <strong>Name:</strong>
  <%= @practice.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @practice.code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @practice.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @practice.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @practice.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @practice.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @practice.phone %>
</p>

<p>
  <strong>Type:</strong>
  <%= @practice.dr_type %>
</p><br>
<div class="break-line-full full-grid"></div>
<div class="practice-collections-list">
<h2>Collections For This Practice</h2>
<p>
<% @practice.collections.each do |c| %>
  <p><%= link_to c.fname + ' ' + c.lname, collection_path(c) %></p>
<% end %>
</p>
</div><br>

<div class="break-line-full full-grid"></div>

<p>
<%= link_to 'Edit Practice', edit_practice_path(@practice) %>
<%= link_to 'New Practice', new_practice_path %></p>