<div class="hero">
  <h2>Practices</h2>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="main-content">
  <div class="search">
    <%= form_with(url: practices_path, method: "get", local: true) do %>
  <p class="new-sect">Search for Practice by Code</p>
      <%= text_field_tag(:search, params[:search]) %><br>
      <%= submit_tag ("Search") %><br>
    <% end %>
    <% if current_user && current_user.admin %>
      <%#= Show All Button %>
    <% end %>
  </div>
  <div class="break-line"></div>
</div>
<% if @practice %>
  <div class="search-container">
    <%= render 'practices/show' %>
  </div>
<% end %>